.tutorial-screen {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-bg {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-image: url('../../../assets/images/tutorial_bg.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(5px) sepia(0.5) hue-rotate(10deg);
    z-index: 0;
}

.screen-overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}

.tutorial-panel {
    position: relative;
    z-index: 10;
    width: 600px;
    background: rgba(20, 20, 30, 0.9);
    border: 2px solid var(--color-nijika); /* Amarelo Nijika */
    box-shadow: 0 0 40px rgba(242, 214, 75, 0.2);
    padding: 40px;
    transform: skewX(-2deg);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tutorial-panel h2 {
    font-family: var(--font-display);
    color: var(--color-nijika);
    border-bottom: 2px solid var(--color-nijika);
    padding-bottom: 15px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(242, 214, 75, 0.5);
}

/* --- TECLAS --- */
.key-guide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.key-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.key-label {
    font-family: var(--font-display);
    color: #aaa;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

.key-row {
    display: flex;
    gap: 15px;
}

.key {
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-nijika);
    color: var(--color-nijika);
    box-shadow: 0 0 15px rgba(242, 214, 75, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-display);
    font-size: 1.8rem;
    background: rgba(0,0,0,0.3);
    transform: skewX(2deg); /* Compensa a inclinação do painel */
}

/* Estilo especial para a Barra de Espaço */
.key-space {
    width: 300px; /* Bem larga */
    height: 50px;
    font-size: 1.5rem;
    border-color: white;
    color: white;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

/* --- TEXTOS --- */
.instructions p {
    font-family: var(--font-body);
    font-size: 1rem;
    margin-bottom: 8px;
    color: #ccc;
    transform: skewX(2deg);
}

.highlight {
    color: var(--color-nijika);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
    border: 1px solid rgba(242, 214, 75, 0.3);
    padding: 5px;
    background: rgba(242, 214, 75, 0.1);
}

#btn-back {
    margin-top: 10px;
    width: 100%;
    border-color: var(--color-nijika);
    color: white;
    transform: skewX(0deg);
}

#btn-back:hover {
    background: var(--color-nijika);
    box-shadow: 0 0 20px var(--color-nijika);
    color: #000;
}